
main.articles .set > div {
    width: calc(50% - 17px);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgb(0 10 24 / 50%);
    margin-bottom: 35px;
    position: relative;
    background: var(--accent2);
    overflow: hidden;
    padding-bottom: 0;
}
main.articles .set > div .wrap p {
padding: 0;
    width: calc(100% - 150px);
}
main.articles .set > div .showRecipe {
    left: unset;
    right: 20px;
    transform: none;
    top: 3px;
    position: absolute;
}
.articles .container p {
    display: inline-block;
}
.articles .container .showRecipe {
    position: relative;
}
.article_illustration {
    text-align: center;
    max-height: 440px;
    overflow: hidden;
}
.article_illustration img {

    width: 100%;
}
.read .container {
    display: flex;
}
.article_block {
    width: 75%;
    padding-bottom: 50px;
}
aside {
    width: 25%;
    margin-left: 30px;
    float: right;
    overflow: hidden;
}
aside > div {
    margin-bottom: 30px;
}
aside .img {
    max-height: 200px;
    overflow: hidden;
}
aside img {
    width: 100%;
}
.article_block p {
    margin: 15px 0px 0px;
    display: block;
}
.article_block h3 {
    color: var(--main);
    margin: 30px 0 0;

}
aside .showRecipe {
    left: unset;
    right: unset;
    transform: none;
    position: relative;
    display: block;
    width: fit-content;
    margin: 15px auto 40px;
    transition: 1s;
}
aside .showRecipe:hover {
    background: transparent !important;
    color: var(--accent1);
    text-decoration: none;
}
aside .showRecipe:before {
    content: '';
    bottom: -3px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 2px;
    background: var(--main);
    display: block;
    transition: 1s;

}
aside .showRecipe:hover:before{
    background: var(--accent1);
    width: 100%;
}


@media screen and (max-width: 980px){
    main.articles .set > div {
        width: 100%;
    }


    main.articles .set > div .wrap p {
        padding: 0;
        width: unset;
    }
}
@media screen and (max-width: 640px){
    main.articles .set > div .showRecipe {
        display: block;
        right: unset;
        transform: none;
        position: relative;
        margin-top: 30px;
        left: 0;
        width: fit-content;
    }
    .read .container {
        flex-direction: column;
    }
    .article_block {
        width: 100%;
    }
    aside {
        width: 100%;
        margin: 0;
    }
    aside > div {
        width:100%;
        overflow: hidden;
    }
    aside .img {
        max-height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
}
