html{
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

main .contactForm.calc .contactBox {
    max-width: unset;
}

.side__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 282px;
}

.login__alternate {
    background: var(--accent2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    display: flex;
    place-content: center;
    flex-direction: column;
}

.login__alternate a {
    display: block;
    margin-top: 10px;
}

#main {
    position: relative;
    min-height: 636px;
    max-width: 680px;
    min-width: 310px;
    margin: 0 auto;
    border: 2px solid #a4c74d;
    place-items: center;
    padding: 30px;
    border-radius: 6px;
    background: var(--accent2);
}

#form01,
#form02 {
    background: transparent;
    box-shadow: none;
}

#main h2 {
    font-size: 24px;
}

#back {
    float: left;
}

#form01 label {
    float: left;
    font-size: 16px;
    width: 200px;
    text-align: left;
}

.calc__title {
    margin-bottom: 24px;
    font-size: 30px;
    text-transform: uppercase;
    color: #007a00;
    letter-spacing: -1.5px;
}

#main h1 {
    font-family: Lato;
    text-align: center;
    color: #0b6078;
    margin: 0 20px;
    padding: 12px 0 3px 0;
    border-radius: 0 0 40px 40px;

}


#proceed,
#start_over {
    float: right;
}

#start_over {
    display: none;
}

/* Form Styles */

#form02,
#result_wrapper,
#back {
    display: none;
}

form h2,
#result_wrapper h2 {
    font-weight: 600;
    font-size: 24px;
}

#result {
    margin: 10px 10px;
    padding: 10px;
}

.selector_wrapper {
    color: #fff;
    padding: 40px 20px;
    text-align: left;
}

.selector_wrapper span {
    display: inline-block;
    width: 160px;
    margin-bottom: 40px;
}



.selector_wrapper span:last-child {
    margin-bottom: 0px;
}

.selector_wrapper select {
    width: auto;
    min-width: 60px;
    height: auto;
    margin-right: 10px;
    background: var(--main);
}

.selector_wrapper select option {
    background-color: var(--main);
    color: var(--text-bg);
}

.selector_wrapper select option:hover {
    background-color: var(--text-bg);
    color: var(--main);
}

.selector_wrapper label {}

.selector_wrapper label {
    margin-right: 25px;
}

/* Second and third form styles */

.inner {
    border-radius: 15px;
    color: white;
}

.calc_subtitle {
    margin-bottom: 20px;
    color: var(--text-bg);
    display: block;
}

.inner .activity_selector {
    min-height: 60px;
}

.activity_selector {
    box-sizing: border-box;
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid var(--main);
}

.selector_wrapper>span {
    color: var(--main);
}

.activity_selector:hover {
    background-color: #fff;
    color: #007a00;

    cursor: pointer;
}

/* Final Score */
#result_wrapper {
    place-content: center;
    flex-direction: column;
}

#score {
    box-sizing: border-box;
    text-align: center;
    color: var(--accent1);
    font-size: 2em;
    width: 200px;
    height: 80px;
    margin: 40px auto;
    padding: 15px 25px 15px 15px;
}

#result {
    min-height: 470px;
}

.inner {
    min-height: 450px;
}

.health .recipe__ingredients-item-2--first::before {

    background: url(../img/icon-water.png) center no-repeat;
}

.health .recipe__ingredients-item-2--second::before {
    background: url(../img/icon-food.png) center no-repeat;
}

.health .recipe__ingredients-item-2--third::before {
    background: url(../img/icon-gym.png);
}

#proceed.btn {
    width: 30%;
    position: absolute;
    bottom: 20px;
    right: 28px;
}

#form01 form {
    box-shadow: none;
    background: transparent;
}

#form01 fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form01 p {
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}

#form01 .form-group {
    display: flex;
    align-items: center;
    width: 100%;
}

#form01 input,
#form01 select {
    padding: 7px 3px;
    border: none;
    border-bottom: 1px solid var(--main);
    background: transparent;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 16px;
}

#form01 input:focus,
#form01 input:active {
    border: 1px solid var(--main);
    background: transparent;
}


#form01 .btn-group {
    display: block;
    margin: auto;
    margin-top: 30px;
}

.cal_buttons {
    bottom: 35px;
    font-size: 13px;
    color: #fff;
    background: transparent;
    padding: 7px 20px;
    border: 2px solid var(--main);
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    filter: drop-shadow(0px 3px 1px #0006);
    transition: 0.5s;
    font-weight: 600;
    width: 100px;
    margin: auto 10px;
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
    border: 1px solid var(--main);
    font-size: 16px;
}

table caption {
    font-size: 16px;
    padding-bottom: 30px;
}

td,
th {
    border: 1px solid var(--main);
    padding: 5px;
    text-align: center;
}

.scrollable {
    margin-left: 0 !important;
}

div.pinned {
    display: none;
}

option {
    color: #fff;
    background: var(--accent2);
}

#recipes_link {
    display: none;
    font-weight: 600;
}

.meal-btn {
    width: fit-content;
    background-color: var(--main);
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}